description = "Default layout"
useContent = 1
default = 0
==
<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">

	<title>{{ this.page.title }}</title>
	{% if record.description != null %}<meta name="description" content="{{ str_limit(record.description | striptags , 120) }}">
	{% else %}<meta name="description" content="{{ this.page.meta_description }}">{% endif %}

	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="icon" href="{{ 'assets/images/october.png' | theme }}">
	
	<link href="{{ 'assets/css/theme.min.css' | theme }}" rel="stylesheet">
	{# Uncomment to view plugins CSS assets for preprocessor styles import
	{% styles %}
	#}

</head>

<body class="is_{{ this.page.id }}{{ class ? ' ' ~ class }}">

	<nav>
		<ul>
			<li>
				{% if this.page.id == 'index' %}<span>Home</span>
				{% else %}<a href="/">Home</a>{% endif %}
			</li>
		</ul>
	</nav>
